@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    margin:0px;
    background-color: #EEE8EC;
}
.borderContainer {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
}
img.topBorderImage {
    width: 800px;
    right: 50%;
    transform: translate(50%,0%);
    /* max-width: 500px; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

img.bottomBorderImage {
    width: 800px;
    right: 50%;
    transform: translate(50%,0%);
    /* max-width: 500px; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom:0;
    text-align: center;
}

.wildTrekName {
    /* Wildtrek */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 94px;
    text-align: center;
    margin-top: 20vh;
    color: #734128;
}

.largeButtons .login {
    margin-top: 25vh;
    background: #A0C497;
    border-radius: 15px;
    width: 45vw;
    padding: 0.25em;
    font-size: 42px;
    display: block;
    margin: auto;
}
.largeButtons .signup {
    /* Rectangle 7 */
    
    background: #A0C497;
    border-radius: 15px;
    width: 45vw;
    font-size: x-large;
    padding: 0.25em;
    font-size: 42px;
    display: block;
    margin: auto;
    margin-top: 1em;
}
.signup:hover {
    background: #629460;
}
.login:hover {
    background: #629460;
}