{% extends "base.html" %}
{% block title %}WildTrek{% endblock %}
{% block content %}
    <div class="wildTrekName">WildTrek</div>
    <div class="largeButtons">
        <button class="login">
            Login
        </button>
        <button class="signup">
            Sign up
        </button>
    </div>
    <div class="borderContainer">
        <img class="topBorderImage" src="static/images/top.png">
        <img class="bottomBorderImage" src="static/images/bottom.png">
    </div>
{% endblock %}