{% extends "base.html" %}
{% block title %}Age Confirmation{% endblock %}
{% block content %}
    <div class="signInUpTitle">
        <img class="logo" src="static/images/Wildtrek.png">
        <div class="wildTrekName">WildTrek</div>
    </div>
    <div class="ageQuestionText">
        Are you 13 or older?
    </div>
    <div class="largeButtons">
        <a class="login" href="{{url_for('ageSubmit', old=1)}}">
            Yes
        </a>
        <a class="signup" href="{{url_for('ageSubmit', old=0)}}">
            No
        </a>
    </div>

    <div class="borderContainer">
        <img class="topBorderImage" src="static/images/top.png">
        <img class="bottomBorderImage" src="static/images/bottom.png">
    </div>
    <div class="ageBottomText">
        Age is used for restrictions (13+ has access to social media aspects).
    </div>
{% endblock %}