{% extends "baseWithNav.html" %}
{% block title %}Feed{% endblock %}

{% block content %}
<div class="feedHeader">
    <div class="wildTrekName">Wildtrek</div>
    <div class="homeUsernameText">Welcome back {{username}}</div>
</div>

<div id="disPost" class="displayedPost">
    {% if index != 0 %}
        <a class="sPostButton leftPostButton" href="/home?index={{index-1}}">&lt;</a>
    {% endif %}
    <a class="sPostButton rightPostButton" href="/home?index={{index+1}}">&gt;</a>
    <div id="postAuthorContainerID" class="postAuthorContainer">
        <img id="postAuthorPfp" src="https://wildtrekimages.theohal.repl.co/images/profile.png">
        <div id="postAuthorName" >{{ currentPosts[index].username }}</div>
    </div>

    <img id="postImage" src="{{ currentPosts[index].image }}">
    <div class="imageInfoBox">
        <div id="postCaption">{{ currentPosts[index].caption }}</div>
        <div id="tags">
            <ul class="tags">
                {% for tag in currentPosts[index].hashtags %}
                    <li>{{tag}}</li>
                {% endfor %}
                {% for tag in currentPosts[index].plant_suggestions %}
                    <li>AI: {{tag}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="postButtons">
            <img id="postLike" src="https://wildtrekimages.theohal.repl.co/images/heartEmpty.png">
            <img id="postComment" src="https://wildtrekimages.theohal.repl.co/images/comment.png">
        </div>
    </div>
</div>



<div class="extraScrollSpace"></div>
<script>
    console.log("{{currentPosts}}");
    document.getElementById("postLike").addEventListener("click",  function(){ 
        document.getElementById("postLike").src="https://wildtrekimages.theohal.repl.co/images/heartFilled.png"
    });
    document.getElementById("postComment").addEventListener("click",  function(){ 
        alert("Go to this post's page to see and post comments.")
    });

    document.getElementById("postImage").addEventListener("click",  function(){ 
        window.location.href = "/onePost?id={{ currentPosts[index]['_id'] }}";
    });

    document.getElementById("postAuthorContainerID").addEventListener("click",  function(){ 
        window.location.href = "/profile?username={{ currentPosts[index].username }}";
    });
    

</script>
{% endblock %}


{% block home %}"active"{% endblock %}