{% extends "baseWithNav.html" %}
{% block title %}Feed{% endblock %}

{% block content %}
<div class="feedHeader">
    <div class="wildTrekName">Wildtrek</div>
    <div class="homeUsernameText">Welcome back {{username}}</div>
</div>

<div class="displayedPost">
    {% if index != 0 %}
        <a class="sPostButton leftPostButton" href="/home?index={{index-1}}">&lt;</a>
    {% endif %}
    <a class="sPostButton rightPostButton" href="/home?index={{index+1}}">&gt;</a>
    <div class="postAuthorContainer">
        <img id="postAuthorPfp" src="static/images/profile.png">
        <div id="postAuthorName">{{ currentPosts[index].username }}</div>
    </div>
    <img id="postImage" src="{{ currentPosts[index].image }}">
    <div class="imageInfoBox">
        <div id="postCaption">{{ currentPosts[index].caption }}</div>
        <div id="tags">
            <ul class="tags">
                {% for tag in currentPosts[index].hashtags %}
                    <li>{{tag}}</li>
                {% endfor %}
                {% for tag in currentPosts[index].plant_suggestions %}
                    <li>AI: {{tag}}</li>
                {% endfor %}
              </ul>
        </div>
        <div class="postButtons">
            <img id="postLike" src="static/images/heartEmpty.png">
            <img id="postComment" src="static/images/comment.png">
        </div>
    </div>
</div>



<div class="extraScrollSpace"></div>
<script>
    console.log("{{currentPosts}}");
    document.getElementById("postLike").addEventListener("click",  function(){ 
        document.getElementById("postLike").src="static/images/heartFilled.png"
    });
</script>
{% endblock %}


{% block home %}"active"{% endblock %}