{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
    <!--Our CSS-->
    <link rel="stylesheet" href="static/mapStyle.css">
    
{% endblock %}

{% block content %}
<div class="signInUpTitle">
    <img class="logo" src="https://wildtrekimages.theohal.repl.co/images/Wildtrek.png">
    <div class="welcomeText">
        Hello Again!
    </div>
    <div class="wildTrekName">WildTrek</div>
</div>


<form class="signUpIn" method="post" action="{{url_for('login')}}">
    <div class="signInUpForm">
        <label>Username</label>
        <input type="text" id="username" name="username">
        <label>Password</label>
        <input type="password" id="password" name="password">
        <button class="signInUpSubmit" type="submit">Log In</button>
    </div>
    <a class="signInUpOtherPage" href="/signup">Sign up instead</a>

</form>
{% endblock %}