<!doctype html>

<head>
    <title>Sign Up</title>
</head>
<html>

<body>
    <main>
        <form method="post" action="{{url_for('signup')}}">
            <div>
                <label>Username</label>
                <div>
                    <input type="text" id="username" name="username">
                </div>
                <label>Password</label>
                <div>
                    <input type="text" id="password" name="password">
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </main>
</body>

</html>