{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="signInUpTitle">
    <img class="logo" src="https://wildtrekimages.theohal.repl.co/images/Wildtrek.png">
    <div class="welcomeText">
        Welcome to
    </div>
    <div class="wildTrekName">WildTrek</div>
</div>

<form class="signUpIn" method="post" action="{{url_for('signup')}}">
    <div class="setUpAccountText">Set up an account!</div>
    <div class="signInUpForm">
        <label>Username</label>
        <input type="text" id="username" name="username">
        <label>Password</label>
        <input type="password" id="password" name="password">
        <button class="signInUpSubmit" type="submit">Sign Up</button>
    </div>
    <a class="signInUpOtherPage" href="/login">Login instead</a>
</form>
{% endblock %}