{% extends "baseWithNav.html" %}
{% block title %}upload post{% endblock %}

{% block head %}
    <!--Our CSS-->
    <link rel="stylesheet" href="static/AScss.css">
    
{% endblock %}

{% block content %}
<form class="signInUpForm" method="post" action="{{url_for('upload')}}" enctype="multipart/form-data">
<div class="uploadPage">
    <div class="wildTrekName">WildTrek</div>
</div>

<div class="bannerInfoColor">
    <label>Upload a picture of nature, plants, 
            or animals to share with friends.</label>
</div>

<div class="upload-btn-wrapper">
      <img class="uploadIcon" src="https://cdn.discordapp.com/attachments/1104152958695903322/1104162735295569960/852251_upload_512x512.png"><div>Take or upload photo</div>
    <input required type="file" id="img" name="img"  accept="image/*">
  </div>



  <label>Add a caption</label>
    <div>
        <input required type="text" id="caption" name="caption">
    </div>
    
    <label>Add hashtags</label>
    <div class="checkBoxes">
        <label class="container">wild plants
        <input type="checkbox" name="hashtags" value="wild_plants">
        <span class="checkmark"></span>
        </label>
        <label class="container">garden plants
        <input type="checkbox" name="hashtags" value="garden_plants">
        <span class="checkmark"></span>
        </label>
        <label class="container" >sky
        <input type="checkbox" name="hashtags" value="sky">
        <span class="checkmark" ></span>
        </label>
        <label class="container">animals
        <input type="checkbox" name="hashtags" value="animals">
        <span class="checkmark"></span>
        </label>
        <label class="container">landscape
        <input type="checkbox" name="hashtags" value="landscape">
        <span class="checkmark"></span>
        </label>
        <label class="container">other
        <input type="checkbox" name="hashtags" value="other">
        <span class="checkmark"></span>
        </label>
    </div>
    <div>
        <button class="signInUpSubmit" type="submit">Post</button>
    </div>
</form>
<div class="extraScrollSpace"></div>

{% endblock %}

{% block upload %}"active"{% endblock %}
